<html><head><title>Pagina de Produtos</title>
    <link rel="stylesheet" type="text/css" href="estiloVitrine.css"/> 
    </head>
    <body>
        <h2 class="vitrine">Produtos</h2>
        <ul class="product-list">
          <li class="product-item">
                  <figure class="product-info">
                      <div class="product-info-img">
                          <img src="imagens/1.jpg" alt="description image">
                      </div>
                      <figcaption class="product-info-description">
                          <h2 class="title">Chainsaw Man Quadro</h2>
                          <p class="description">Quadro 400x400 do personagem Denji de ChainsawMan.
                          </p>
                      </figcaption>
                      <div class="price-box">
                          <div class="price">
                              <div>
                                  <del>R$300,00</del>
                                  <ins class="d-block">R$180,00</ins>
                              </div>
                              <span class="price-info">4x de R$ 49,97</span>
                          </div>
                          <input type="number" placeholder="Quantidade" id="quantidadeProduto1">
                          <button href="#" class="btn btn-buy" onclick="Compre('Produto 1',300, 'quantidadeProduto1')">Compre<i class="fas fa-arrow-right"></i></button>
                      </div>
                      </div>
                  </figure>
              </a>
          </li>
          <li class="product-item">
                  <figure class="product-info">
                      <div class="product-info-img">
                          <img src="imagens/2.jpg" alt="description image">
                      </div>
                      <figcaption class="product-info-description">
                          <h2 class="title">Jujutsu Kaisen Quadro</h2>
                          <p class="description">Quadro 400x400 do personagem Megumi fushiguro de Jujutsu Kaisen.</p>
                       
                      </figcaption>
                      <div class="price-box">
                          <div class="price">
                              <div>
                                  <del>R$300,00</del>
                                  <ins class="d-block">R$180,00</ins>
                              </div>
                              <span class="price-info">4x de R$ 49,97</span>
                          </div>
                          <input type="number" placeholder="Quantidade" id="QuantidadeProduto2">
                          <button href="#" class="btn btn-buy">Compre<i class="fas fa-arrow-right"></i></button>
                      </div>
                      </div>
                  </figure>
              </a>
          </li>
          <li class="product-item">
                  <figure class="product-info">
                      <div class="product-info-img">
                          <img src="imagens/3.jpg" alt="description image">
                      </div>
                      <figcaption class="product-info-description">
                          <h2 class="title">Jujutsu Kaisen Quadro</h2>
                          <p class="description">Quadro 400x400 do personagem Yuji Itadori de Jujutsu Kaisen.</p>
                      
                      </figcaption>
                      <div class="price-box">
                          <div class="price">
                              <div>
                                  <del>R$300,00</del>
                                  <ins class="d-block">R$180,00</ins>
                              </div>
                              <span class="price-info">4x de R$ 49,97</span>
                          </div>
                          <input type="number" placeholder="Quantidade" id="QuantidadeProduto3">
                          <button href="#" class="btn btn-buy">Compre<i class="fas fa-arrow-right"></i></button>
                      </div>
                      </div>
                  </figure>
              </a>
          </li>
          <li class="product-item">
              <a href="" target="_blank" class="product-link">
                  <figure class="product-info">
                      <div class="product-info-img">
                          <img src="imagens/4.jpg" alt="description image">
                      </div>
                      <figcaption class="product-info-description">
                          <h2 class="title">Chainsaw Man Quadro</h2>
                          <p class="description">Quadro 400x400 do personagem Aki Hayakawa de ChainsawMan.</p>
                   
                      </figcaption>
                      <div class="price-box">
                          <div class="price">
                              <div>
                                  <del>R$300,00</del>
                                  <ins class="d-block">R$180,00</ins>
                              </div>
                              <span class="price-info">4x de R$ 49,97</span>
                          </div>
                          <input type="number" placeholder="Quantidade" id="QuantidadeProduto4">
                          <button href="#" class="btn btn-buy">Compre<i class="fas fa-arrow-right"></i></button>
                      </div>
                      </div>
                  </figure>
              </a>
          </li>
          <li class="product-item">
                <figure class="product-info">
                    <div class="product-info-img">
                        <img src="imagens/5.jpg" alt="description image">
                    </div>
                    <figcaption class="product-info-description">
                        <h2 class="title">Chainsaw Man Quadro</h2>
                        <p class="description">Quadro 400x400 do personagem Aki Hayakawa de ChainsawMan.</p>
                 
                    </figcaption>
                    <div class="price-box">
                        <div class="price">
                            <div>
                                <del>R$300,00</del>
                                <ins class="d-block">R$180,00</ins>
                            </div>
                            <span class="price-info">4x de R$ 49,97</span>
                        </div>
                        <input type="number" placeholder="Quantidade" id="QuantidadeProduto5">
                        <button href="#" class="btn btn-buy">Compre<i class="fas fa-arrow-right"></i></button>
                    </div>
                    </div>
                </figure>
            </a>
        </li><li class="product-item">
                <figure class="product-info">
                    <div class="product-info-img">
                        <img src="imagens/6.jpg" alt="description image">
                    </div>
                    <figcaption class="product-info-description">
                        <h2 class="title">Chainsaw Man Quadro</h2>
                        <p class="description">Quadro 400x400 do personagem Aki Hayakawa de ChainsawMan.</p>
                 
                    </figcaption>
                    <div class="price-box">
                        <div class="price">
                            <div>
                                <del>R$300,00</del>
                                <ins class="d-block">R$180,00</ins>
                            </div>
                            <span class="price-info">4x de R$ 49,97</span>
                        </div>
                        <input type="number" placeholder="Quantidade" id="QuantidadeProduto6">
                        <button href="#" class="btn btn-buy">Compre<i class="fas fa-arrow-right"></i></button>
                    </div>
                    </div>
                </figure>
            </a>
        </li>
        
        </ul>
        
        <div style="margin: 50px 0; display: flex; align-items: center; justify-content: center; width: 100%">
        
        </div>
        <script  src="/arquivos/scriptVitrine.js"></script>


    </body>

    </html>
